[package]
name = "db"
version = "0.1.0"
edition = "2024"

[dependencies]
bitvec = "1.0.1"

[dev-dependencies]
criterion = { version = "0.8", features = ["html_reports"] }

[[bench]]
name = "my_benchmark"
harness = false

[profile.bench]
debug = true
